@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --color-brand: #c7caa8;
    --color-brand-dark: #232323;
}

@theme {
    /*Colors*/
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-brand: var(--color-brand);
    --color-brand-dark: var(--color-brand-dark);

    /*Fonts*/
    --font-oswald: var(--font-oswald);
    --font-poppins: var(--font-poppins);

    /*Shadows*/
    --drop-shadow-text: 0 0 20px rgba(0, 0, 0, 0.5);
    --inset-shadow-btn: inset 0px 0px 0px 2px var(--color-brand);

    /*Breakpoints*/
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1400px;
}